{% extends "partials/acf/base-block.html.twig" %}

{% block block_content %}
    <section class="container-fluid /-/referrer/-/">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}